<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Dados Recentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-card-content>
    <canvas #barChart></canvas>
  </ion-card-content> -->


  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title color="primary">Informaçōes Sobre a Pandemia no Brasil</ion-card-title>
      <ion-card-subtitle>Ultima Atualização: <b>{{dadosCovid.dataAtualizacao | date: 'dd/MM/yyy HH:mm'}}</b>
      </ion-card-subtitle>
      <ion-card-subtitle>Origem dos Dados: <b>{{dadosCovid.origem}}</b></ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center">
          <ion-card-header color="primary">
            <ion-card-title>Total de Infectados</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center" style="color: brown; font-size: xx-large;">
              {{dadosCovid.infectado}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-text-center">
          <ion-card-header color="primary">
            <ion-card-title>Total de Falecidos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center" style="color: brown; font-size: xx-large;">
              {{dadosCovid.falecido}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card class="ion-text-center">
        <ion-list>
          <ion-list-header color="primary">
            Infectados por Estados
          </ion-list-header>
          <ion-item *ngFor="let item of dadosCovid.infectadoRegiao">
            <ion-label>{{item.uf}}</ion-label>
            <ion-note slot="end" color="danger" style="font-size: initial;">{{item.contador}}</ion-note>
          </ion-item>
        </ion-list>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-text-center">
        <ion-list>
          <ion-list-header color="primary">
            Falecidos por Estados
          </ion-list-header>
          <ion-item *ngFor="let item of dadosCovid.falecidoRegiao">
            <ion-label>{{item.uf}}</ion-label>
            <ion-note slot="end" color="danger" style="font-size: initial;">{{item.contador}}</ion-note>
          </ion-item>
        </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card> -->



  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>