<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Dados Recentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-text-center">
    <img src="assets/imagens/logocovid.jpg">
    <ion-card-header>
      <ion-card-title color="danger">Informaçōes Sobre a Pandemia no Brasil</ion-card-title>
      <ion-card-subtitle>Ultima Atualização: <b>{{dadosCovid.dataAtualizacao | date: 'dd/MM/yyy HH:mm'}}</b>
      </ion-card-subtitle>
      <ion-card-subtitle>Origem dos Dados: <b>{{dadosCovid.origem}}</b></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card-content>
    <canvas #barChart></canvas>
  </ion-card-content>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center">
          <ion-card-header color="danger">
            <ion-card-title>Total de Infectados</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center" style="color: brown; font-size: xx-large;">
              {{dadosCovid.infectado}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-text-center">
          <ion-card-header color="danger">
            <ion-card-title>Total de Falecidos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center" style="color: brown; font-size: xx-large;">
              {{dadosCovid.falecido}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card class="ion-text-center">
          <ion-list>
            <ion-list-header color="danger">
              Infectados por Estados
            </ion-list-header>
            <ion-item *ngFor="let item of dadosCovid.infectadoRegiao">
              <ion-label>{{item.uf}}</ion-label>
              <ion-note slot="end" color="danger" style="font-size: initial;">{{item.contador}}</ion-note>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-text-center">
          <ion-list>
            <ion-list-header color="danger">
              Falecidos por Estados
            </ion-list-header>
            <ion-item *ngFor="let item of dadosCovid.falecidoRegiao">
              <ion-label>{{item.uf}}</ion-label>
              <ion-note slot="end" color="danger" style="font-size: initial;">{{item.contador}}</ion-note>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>